@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
    <div class="col-md-8">
        <p>
            @Html.ActionLink("Change your password", "ChangePassword")
        </p>
</div>
