@{
    ViewBag.Title = "Registration process not finished";
}
<h2>@ViewBag.Title</h2>
<p class="lead">
    You need to wait for administrator's acceptance before you can start using this portal.
</p>
