@{
    ViewBag.Title = "Home";
}

<div class="jumbotron container">
    <div class="col-md-7">
        <h1>MedCare</h1>
        <p class="lead text-justify">You are having trouble with scheduling medical visit?<br />Not anymore!<br/><br />Use MedCare and schedule visits with the best specialists, in the best clinics available in your area. It doesn't cost you a single dime and doesn't get any easier nor better anywhere else.</p>
    </div>
    <div class="col-md-5">
        <img src="~/Content/home.jpg" class="img-responsive" />
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-3">
        <p class="lead">
            Don't have an account yet?
        </p>
        <p>@Html.ActionLink("Create an account!", "Register", "Account", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-offset-3 col-md-4">
        <p class="lead">You have an account already?</p>
        <p>@Html.ActionLink("Schedule a vist now!", "Index", "ScheduleVisit", null, new { @class = "btn btn-info btn-large" })</p>
    </div>
</div>