@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Delete doctor";
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        Are you sure you want to delete <mark>@Html.DisplayFor(model => model.Name)</mark>?
    </p>
    <input type="submit" value="Delete" class="btn btn-danger" />
}
<br />
<div>
    @Html.ActionLink("Go back", "Index")
</div>